[Desktop Entry]
Name=HamroShow
Exec=hamroshow %U
Terminal=false
Type=Application
Icon=${SNAP}/meta/gui/icon.png
StartupWMClass=HamroShow
Comment=Show song lyrics and more for free!
Categories=AudioVideo;
